<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoBDFinal.Properties.Settings.ProyectoFinalConnectionString"
            connectionString="Data Source=Marcela;Initial Catalog=ProyectoFinal;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionString>
		<add name="MyConnectionString"
    connectionString="Data Source=localhost;Initial Catalog=ProyectoFinal;Integrated Security=True" />
	</connectionString>
</configuration>

